@import "theme/variables";

.selectItemWrapper {
    border-radius: 8px;
    transform: translateX(0);
    transition: 0.2s ease-in-out;

    &:hover {
        transform: translateX(-10px);
        transition: 0.2s ease-in-out;
    }

    .selectItem {
        border-radius: 8px;
        padding: 0.5rem 1rem;
        box-shadow: $elevation1;
        margin-bottom: 1rem;
        position: relative;
        transition: 0.3s ease-in-out;

        &:hover {
            box-shadow: $elevation3;
            transition: 0.3s ease-in-out;
        }

        @media (max-width: $breakpoint-medium) {
            font-size: 1rem;
        }
    }
}
