@import "theme/variables";

.backgroundClassCardContainer {
    margin: -20rem -1000rem;
    padding: 20rem 1000rem;
    background: linear-gradient(transparent 20%, rgba($primary-1, 0.1) 50%, transparent 80%);
}
