@import "theme/variables";

.homeHeroWrapper {
    position: relative;
    margin-bottom: 3rem;
    height: 60vh;

    .imageStyle {
        border-radius: 24rem;
        opacity: 0.2;
        z-index: 0;
    }
}
