@import "theme/variables";

.thumbnailContainer {
  top: -8rem;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 13rem;
  height: 13rem;
  border-radius: 15rem;
  overflow: hidden;

  .image {
    width: 13rem;
    height: 13rem;

    @media (max-width: $breakpoint-medium) {
      max-width: 10rem;
      max-height: 10rem;
    }
  }

  .playButton {
    background-color: $primary-1;
    border-radius: 64px;
    position: absolute;
    z-index: 1;
    left: 1rem;
    bottom: 0.5rem;
  }

  &:hover {
    .playButton {
      background-color: $primary-2;
    }
  }

  @media (max-width: $breakpoint-medium) {
    top: -6rem;
    max-width: 10rem;
    max-height: 10rem;
  }
}

.videoContainer {
  width: 16rem;
  border-radius: 1rem;

  .image {
    width: 16rem;

    @media (max-width: $breakpoint-medium) {
      max-width: 16rem;
    }
  }

  @media (max-width: $breakpoint-medium) {
    max-width: 16rem;
  }
}

.content {
  padding-top: 6rem;

  .tagContainer {
    padding-bottom: 0.5rem;

    .tag {
      padding: 0 0.5rem;
    }
  }

  @media (max-width: $breakpoint-medium) {
    padding-top: 5rem;
  }
}

.testimonyItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
  color: $black;
}
