@import "theme/variables";

.container {
    position: relative;
}

.curve {
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;

    @media (max-width: $breakpoint-medium) {
        bottom: 42px;
    }
}
