@import "theme/variables";

.priceTextBlock {
    margin-top: 1rem;
    background-color: #fff;
    padding: 1rem;
    text-align: left;
    position: relative;

    span {
        background-color: $accent-1;
        border-radius: 20rem;
        box-shadow: $elevation1;
        color: #fff;
        padding: 0.5rem 1rem;
    }
}
