@import "theme/variables";

.background {
    // background-color: $neutral-200;
    background: linear-gradient(rgba($primary-3, 0.1), $white);
    margin: -5rem -1000rem;
    padding-top: 5rem;
    padding-right: 1000rem;
    padding-left: 1000rem;
}

.priceTextBlock {
    margin-top: 1rem;
    background-color: #fff;
    padding: 1rem;
    text-align: left;
    position: relative;

    span {
        background-color: $accent-1;
        border-radius: 20rem;
        box-shadow: $elevation1;
        color: #fff;
        padding: 0.5rem 1rem;
    }
}
