@import "theme/variables";

$rotation: 4deg;

.ribbonContainer {
    height: 100%;
    position: absolute;
    top: 15%;
    transform: rotate(-$rotation);
    width: 100%;
    z-index: 0;
}

.ribbonImage {
    height: 80%;
    overflow: hidden;
    position: relative;
    width: 110vw;
    left: -5vw;

    @media (max-width: $breakpoint-medium) {
        left: -12vw;
        width: 120vw;
    }
}

.ribbon {
    background: linear-gradient(345deg, $primary-1, $primary-3);
    height: 75%;
    margin: 0 -100rem;
}

.image {
    transform: rotate($rotation);
    z-index: -1;
    height: 140%;
    width: 100%;
    top: -20%;

    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        background: linear-gradient(180deg, rgba($black, 0.95) 20%, transparent 60%, rgba($black, 0.95));
        height: 100%;
        width: 100%;
    }
}
