@import "theme/variables";

.card {
    display: flex;
    flex-direction: column;
    box-shadow: $elevation1;
    border: 1px solid $black;
    height: 100%;
    background-color: $white;
    transform: translateY(0px);
    transition: 0.3s ease-in-out;

    &:hover {
        box-shadow: $elevation3;
        transform: translateY(-10px);
        transition: 0.3s ease-in-out;
    }

    .image {
        max-height: 16.75rem;
    }

    .content {
        position: relative;
        padding: 1rem;
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: start;

        .heading {
            color: $black;
            max-width: 9rem;
        }

        .icon {
            position: absolute;
            top: -2rem;
            right: 1rem;
        }

        .ctaLink {
            margin-top: auto;
        }
    }

    @media (max-width: $breakpoint-medium) {
        flex-direction: row;

        .image {
            flex-basis: 35%;
        }

        .icon {
            display: none;
        }
    }
}
