@import "theme/variables";

.card {
    display: flex;
    flex-direction: column;
    box-shadow: $elevation1;
    height: 100%;
    background-color: $white;
    transition: box-shadow 0.3s ease-in-out;
    border-radius: 1rem;

    &:hover {
        box-shadow: $elevation3;
        transition: box-shadow 0.3s ease-in-out;
    }

    .image {
        max-height: 10rem;
        border-radius: 1rem 1rem 0 0;
    }

    .heading {
        color: $black;
    }

    .content {
        position: relative;
        padding: 1rem;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: start;
    }

    .ctaLink {
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0 0 1rem 1rem;
    }

    @media (max-width: $breakpoint-medium) {
        flex-direction: row;

        .image {
            flex-basis: 35%;
            max-height: none;
            border-radius: 1rem 0 0 1rem;
        }

        .ctaLink {
            border-radius: 0 1rem 1rem 0;
        }
    }
}
