@import "theme/variables";

.selectItem {
    padding: 0.5rem 1rem;
    box-shadow: $elevation1;
    border: 1px solid $black;
    margin-bottom: 1rem;
    position: relative;

    &:after {
        content: "";
        display: block;
        position: absolute;
        background-color: $accent-1;
        top: 0;
        left: 0;
        height: 100%;
        width: 1rem;
    }

    &:hover {
        box-shadow: $elevation3;
    }
}
