@import "theme/variables";

.tileContainer {
    background: #fff;
    box-shadow: $elevation1;
    padding: 1rem;
    position: relative;
    border-radius: 0 0 0.5rem 0.5rem;

    @media (max-width: $breakpoint-medium) {
        margin-bottom: 4rem;
    }

    .iconStyle {
        position: absolute;
        top: -4rem;
        height: 6rem;
        width: 6rem;
        border-radius: 8rem;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .videoContainer {
        border-radius: 16px;
        overflow: hidden;
        margin-top: -5rem;
        box-shadow: $elevation1;
        padding-top: 56.25%;
        position: relative;

        &:hover {
            box-shadow: $elevation3;

            .playButton {
                background-color: $primary-2;
            }
        }

        &:active {
            background-color: $primary-3;
        }

        .youtubeFrame {
            position: absolute;
            top: 0;
            left: 0;
        }

        .thumbnailContainer {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 0;
        }

        .playButton {
            position: absolute;
            z-index: 1;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: $primary-1;
            border-radius: 64px;
        }
    }

    .container {
        padding-top: 2rem;
        text-align: center;

        .heading {
            margin-bottom: 0.5rem;
        }

        .descriptionStyle {
            margin-bottom: 0.5rem;
        }
    }
}
