@import "theme/variables";

.tileContainer {
    background: #fff;
    box-shadow: $elevation-1;
    padding: 1rem;
    position: relative;
    border-radius: 0 0 0.5rem 0.5rem;

    @media (max-width: $breakpoint-medium) {
        margin-bottom: 4rem;
    }

    .videoContainer {
        margin-top: -5rem;
    }

    .map {
        margin-top: -5rem;
        border-radius: 1rem;
        overflow: hidden;
        padding-bottom: 1rem;
    }

    .image {
        margin: -5rem auto 1rem;
        border-radius: 1rem;
        overflow: hidden;
        padding-bottom: 1rem;
        max-width: 15.5rem;
    }

    .icon {
        position: absolute;
        top: -4rem;
        height: 6rem;
        width: 6rem;
        border-radius: 8rem;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .container {
        text-align: center;

        &.topItem {
            padding-top: 2rem;
        }

        .heading {
            margin-bottom: 0.5rem;
        }

        .description {
            margin-bottom: 0.5rem;
        }
    }
}
