@import "theme/variables";

.tileContainer {
    background: #fff;
    box-shadow: $elevation1;
    padding: 1rem;
    position: relative;
    border-radius: 0 0 0.5rem 0.5rem;

    .image {
        position: absolute;
        top: -4rem;
        height: 8rem;
        width: 8rem;
        border-radius: 8rem;
        left: 50%;
        transform: translateX(-50%);

        @media (max-width: $breakpoint-medium) {
            top: 50%;
            transform: translate(0, -50%);
            left: -4rem;
        }
    }

    @media (max-width: $breakpoint-medium) {
        margin-left: 4rem;
    }

    .container {
        padding-top: 4rem;
        text-align: center;

        .heading {
            margin-bottom: 0.5rem;
        }

        .description {
            margin-bottom: 0.5rem;
        }

        @media (max-width: $breakpoint-medium) {
            padding-top: 0;
            padding-left: 4rem;
            text-align: left;
        }
    }
}
