@import "theme/variables";

.headerContainer {
    position: absolute;
    top: 0;
    z-index: 1000;
    width: 100%;
    background-color: transparent;

    &.sticky {
        background-color: $white;
        position: fixed;
        box-shadow: $elevation1;
    }

    @media (max-width: $breakpoint-large) {
        background-color: $white;
        position: fixed;
        box-shadow: $elevation1;
    }
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;

    @media (max-width: $breakpoint-large) {
        flex-wrap: wrap;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;

        .logo {
            flex-basis: 50%;
        }

        .infoContainer {
            text-align: right;
            flex-basis: 100%;
            padding-top: 0.25rem;
        }
    }
}
