//colors
// neutrals
$white: #fff;
$black: #333333;

$neutral-100: #fafafa;
$neutral-200: #f4f4f4;
$neutral-300: #eaeaea;
$neutral-400: #d9d9d9;
$neutral-500: #bababa;
$neutral-600: #939393;
$neutral-700: #6f6f6f;
$neutral-800: #4f4f4f;
$neutral-900: #313131;

// primary color
$primary-1: #2f80ed;
$primary-2: #2d9cdb;
$primary-3: #56ccf2;

$action-default: #136bde;
$action-hover: #0e4d9f;
$action-active: #093063;

$accent-1: #eb5757;
$accent-2: #f2994a;
$accent-3: #f2c94c;
$accent-4: #219653;
$accent-5: #9b51e0;

//breakpoints
$breakpoint-small: 375px;
$breakpoint-medium: 600px;
$breakpoint-large: 900px;
$breakpoint-xlarge: 1200px;
