@import "theme/variables";

.container {
    height: 100%;
    position: relative;
}

.child {
    height: 100%;
    z-index: 2;
}

.background {
    display: block;
    height: 100%;
    left: 0.125rem;
    position: absolute;
    top: 0.125rem;
    width: 100%;
    z-index: 0;
}
