@import "theme/variables";

.titleStyle {
    h4 {
        transform: translateY(0);
        transition: transform 0.2s ease-in-out;
    }

    &:hover h4 {
        transform: translateY(-8px);
        transition: transform 0.2s ease-in-out;
    }
}
