@import "theme/variables";

.titleStyle {
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin: 0 0.5rem;
    border: 1px solid $neutral-600;

    &:hover {
        background-color: $neutral-400 !important;
    }

    h5 {
        margin-bottom: 0;
    }
}
