@import "theme/variables";

.smallCaps {
    color: $neutral-6;
    font-family: Source Code Pro;
    font-size: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.altColor {
    color: $accent-1;
}
