@import "theme/variables";

.methodItem {
    display: flex;
    flex-direction: column;
    box-shadow: $elevation-3;
    height: calc(100% - 2rem);
    position: relative;

    .image {
        max-height: 40%;
    }

    .container {
        padding: 1rem;
        position: relative;

        .title,
        .description {
            z-index: 1;
        }

        .title {
            text-align: center;
            padding-top: 2rem;
            margin-bottom: 0;
        }

        .number {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: -2rem;
        }
    }

    @media (max-width: $breakpoint-large) {
        height: auto;

        .image {
            height: 200px;
        }
    }
}
