@import "theme/variables";

.heroContainer {
    min-height: 400px;

    .textBlock {
        padding-top: 6rem;

        // @media(max-width: $breakpoint-medium) {
        //     padding-top: 0;
        // }
    }

    .ribbon {
        @media (max-width: $breakpoint-medium) {
            top: 0;
        }
    }

    .info {
        font-size: 1rem;
        color: $white;
    }

    .rightSection {
        margin: 0 auto;
    }
}
