@import "theme/variables";

a {
    .arrow {
        transform: translateX(0);
        transition: 0.2s ease-in-out;
    }

    &:hover .arrow {
        transform: translateX(7px);
        transition: 0.2s ease-in-out;
    }

    &.primaryStyle {
        background: linear-gradient(90deg, $accent-1 20%, $accent-2);
        color: $neutral-9;
        font-family: "Merriweather";
        font-size: 1.11rem;
        font-weight: 600;
        max-width: 40%;
        padding: 0.5rem;
        position: relative;
        text-shadow: 4px 4px 8px rgba($black, 0.4);

        @media (max-width: $breakpoint-medium) {
            max-width: 80%;
        }

        &:after {
            background-color: $accent-2;
            content: "";
            display: inline-block;
            height: 30px;
            position: absolute;
            right: -15px;
            top: 6px;
            transform: rotate(45deg);
            width: 30px;
        }

        .primarySvg {
            position: absolute;
            right: -80px;
            top: 0px;

            path:nth-child(1),
            path:nth-child(2) {
                transform: translateX(0px);
                transition: transform 0.2s ease-in-out;
            }

            path:nth-child(3) {
                transform: translateX(0px);
                transition: transform 0.2s ease-in-out;
            }
        }

        &:hover {
            .primarySvg {
                path:nth-child(1),
                path:nth-child(2) {
                    transform: translateX(4px);
                    transition: transform 0.2s ease-in-out;
                }

                path:nth-child(3) {
                    transform: translateX(8px);
                    transition: transform 0.2s ease-in-out;
                }
            }
        }
    }
}
