@import "theme/variables";

.textBlockSectionContainer {
    padding: 2rem 1000rem;
    margin: 0 -1000rem;
    background-color: $neutral-200;

    .container {
        margin-top: 4rem;
    }

    .image {
        position: absolute;
        top: -4rem;
        height: 8rem;
        width: 8rem;
        border-radius: 8rem;
        left: 50%;
        transform: translateX(-50%);
    }

    .textBlockContainer {
        background-color: #fff;
        padding: 1rem;
        padding-top: 5rem;
        box-shadow: $elevation3;
    }
}
