@import "theme/variables";

.tileBlockSection {
    .tileContainer {
        @media (max-width: $breakpoint-medium) {
            padding-top: 4rem;
        }
    }

    .tileWrapper {
        padding-top: 5rem;

        @media (max-width: $breakpoint-medium) {
            padding-top: 0;
        }
    }
}
