@import "theme/variables";

.tileBlockSection {
    padding: 2rem 1000rem;
    margin: 0 -1000rem;
    background-color: $neutral-200;

    .tileWrapper {
        padding-top: 5rem;

        @media (max-width: $breakpoint-medium) {
            padding-top: 0;
        }
    }
}
