@import "theme/variables";

.navLinkWrapper {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;

    li {
        padding: 0 1rem;
    }

    .navLink {
        a {
            color: $black;

            &:hover {
                color: $action-default;
            }
        }

        .activeLink {
            color: $action-default;
        }
    }

    @media (min-width: $breakpoint-large + 1) {
        &.darkMode .navLink {
            a {
                color: #fff;
            }
        }
    }

    @media (max-width: $breakpoint-large) {
        flex-direction: column;
        flex-basis: 100%;
        display: none;
        text-align: center;
        padding-top: 1rem;

        &.open {
            display: flex;
        }

        .navLink {
            border-top: 1px solid $neutral-3;
            width: 100%;

            a {
                width: 100%;
                height: 100%;
                display: inline-block;
                padding: 0.5rem 0;

                &:hover {
                    background-color: $neutral-4;
                }

                .activeLink {
                    background-color: $neutral-4;
                }
            }
        }

        .contactButton {
            width: 100%;
            padding-top: 1rem;

            a {
                width: 100%;
            }
        }
    }
}

.menuButtonContainer {
    display: none;
    flex-basis: 50%;
    justify-content: flex-end;

    svg {
        border-radius: 2px;

        &:hover,
        &:active {
            background-color: $neutral-4;
        }
    }

    @media (max-width: $breakpoint-large) {
        display: flex;
    }
}
