@import "theme/variables";

.section {
    padding-bottom: 0;
}

.bottomSectionWrapper {
    background: linear-gradient(180deg, transparent 50%, $neutral-900 50%);
    margin: 0 -100rem;
    padding-left: 101rem;
    padding-right: 101rem;

    .bottomSection {
        background: #fff;
        border-radius: 0.5rem;
        background-color: $primary-1;
        box-shadow: $elevation3;
    }

    .textWrapper {
        color: #fff;
        padding: 1rem;

        .description,
        .smallCaps {
            color: #fff;
        }
    }

    .heading {
        margin-bottom: 0.5rem;
    }

    .description {
        margin-bottom: 0.5rem;
    }

    .buttonWrapper {
        background-color: #fff;
        border-radius: 0 0.5rem 0.5rem 0;

        @media (max-width: $breakpoint-medium) {
            border-radius: 0 0 0.5rem 0.5rem;
        }
    }
}
