@import "theme/variables";

.mediaSection {
    z-index: 1;
    margin: 0;
    max-width: none;
    padding-top: 8rem;
    padding-bottom: 9rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.mediaSectionTextWrapper {
    margin: 0 auto;
    max-width: 1200px;
}
